extends layout

block content
  h1= title
  p Welcome to the #[em LocalLibrary], a basic Express website built to provide an online catalog for a small local library, where users can browse available books and manage their accounts.

  h1 Dynamic content

  p The library has the following record counts:

  ul
    li #[strong Books:] !{book_count}
    li #[strong Copies:] !{book_instance_count}
    li #[strong Copies available:] !{book_instance_available_count}
    li #[strong Authors:] !{author_count}
    li #[strong Genres:] !{genre_count}
